<div class="landing">
  <div class="row">
    <div class="fixed hide-on-large-only">
      <div class="pagination"></div>
      <a href="#" data-target="filter" class="sidenav-trigger"
        ><i class="material-icons black-text">filter_list</i></a
      >
    </div>
    <div class="col l3  hide-on-med-and-down">
      <sub>FILTER BY</sub>
      <ul class="collapsible z-depth-0">
        <li>
          <div class="collapsible-header">
            Collection
            <i class="material-icons">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            Color
            <i class="material-icons">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            Category
            <i class="material-icons">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
      <div class="range">
        Price range
        <br />
        <br />
        <div id="slider"></div>
      </div>
      <div class="range-values">
        <div class="min"></div>
        <div class="max"></div>
      </div>
    </div>
    <div class="col m12 l9 items"></div>
  </div>
  <div class="pagination hide-on-med-and-down"></div>
  <div class="sidenav" id="filter">
    <div class="container">
      <sub>FILTER BY</sub>
      <ul class="collapsible z-depth-0">
        <li>
          <div class="collapsible-header">
            Collection
            <i class="material-icons">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            Color
            <i class="material-icons">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            Category
            <i class="material-icons">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
      <div class="range">
        Price range
        <br />
        <br />
        <div id="side-slider"></div>
      </div>
      <div class="range-values">
        <div class="min"></div>
        <div class="max"></div>
      </div>
    </div>
  </div>
</div>
