<div class="product">
  <!-- <div class="row">
    <div class="col s12 m6">
      <div class="image">
        <img
          src="https://i.picsum.photos/id/896/300/300.jpg?hmac=L1NW2qfuu-zMwP-9p_ZuwTYp3jkv6JuW6uxockJrRSI"
          alt="image"
        />
      </div>
    </div>
    <div class="col s12 m6">
      <br class="hide-on-med-and-up" />
      <div class="row">
        <div class="col">
          <sub>Kappu Regular Chair</sub>
          <h5>Scandanavian Collection</h5>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci
            perferendis beatae autem nam tempora reiciendis error eum? Dicta
            architecto quisquam iure, fugit, quas suscipit necessitatibus nam,
            quasi quaerat sequi eligendi!
          </p>
          <sub>Color</sub>
          <div class="color">
            <div class="color-dot" style="background-color:black"></div>
            <div class="color-dot" style="background-color:gray"></div>
          </div>
          <br />
          <div class="cta">
            <div class="price">
              Price per unit
              <div>$2600</div>
            </div>
            <button class="btn btn-primary z-depth-0 black">Buy Now</button>
            <i class="material-icons"> add_shopping_cart</i>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
